body
{
    padding-top: 50px;
}
nav h4 {
  font-size: 30px;
  line-height: 1.5;
    border-image-repeat: no-repeat;
  margin: 0 0 0 -10px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

nav h4 {
  content: "./ ";
  font-size: 24px;
}
.bigpic {
position:fixed;
width: 100%;
height: 100%;
display: block;
    z-index: -5;
background: url('/public/img/bgtiled_indiedb.png');
}

.bigletters {
  position: absolute;
  display: inline-block
  top: 40px;
  left 40px;
  font-size: 3em;
  color: white;
}